
<p> App Components Himavardhan Reddy </p>
<h1>This is your header</h1>
<h2> try with merge conflicts </h2>
<button>hima</button>
<button pButton 
        type="button" 
        label="HandleClick" 
        class="ui-button-info" 
        (click)="handleClick($event)" ></button>

<p-button label="pClick"
          icon="pi pi-check" 
          iconPos="left"
          styleClass="ui-button-info">
        </p-button>
<p-button label="pClick"
          icon="pi pi-check" 
          iconPos="left"
          styleClass="ui-button-info">
        </p-button>
<router-outlet></router-outlet>
